/* .section_homePage1_Img {
    position: relative;
    max-width: 52%;
    max-height: 680px;
    overflow: hidden;
}

.section_homePage1_Img img {
    object-fit: fill;
    max-width: 100%;
    max-height: 100%;
} */
